#viewport {
	margin: 0 auto;
	position: relative;
}

#viewport .stack {
	width: 100%;
	height: calc(95vh - 4rem);
	position: absolute;
	top: 5px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

#viewport .in-detail > :not(:last-child) {
	display: none;
}

#viewport .card {
	width: 100%;
	height: calc(95vh - 4rem);
	list-style: none;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-size: 100px;
	box-sizing: border-box;
	cursor: default;
	color: white;
}

@keyframes swingApp { 
   20% { transform: rotate(10deg); } 
   40% { transform: rotate(-5deg); } 
   60% { transform: rotate(3deg); } 
   80% { transform: rotate(-3deg); } 
   100% { transform: rotate(0deg); } 
} 

#viewport .stack > :nth-child(1) {
	top: 2px;
	transform: translate(2px, 2px) rotate(0.4deg);
}

#viewport .stack > :nth-child(2) {
	top: 4px;
	transform: translate(-4px, -2px) rotate(-1deg);
	animation-duration: 0.5s;
	animation-name: swing2;
	animation-timing-function: ease;
}

#viewport .stack > :nth-child(3) {
	animation-duration: 0.5s;
	animation-name: swing2;
	animation-timing-function: ease;
}

.card img {
	width: 100%;
	height: calc(95vh - 4rem);
	object-fit: cover;
}

.card div {
	position: relative;
}

.card-details {
	height: calc(95vh - 4rem);
	display: flex;
}

.switch-wrapper {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.switch-wrapper > div {
}
